<!-- generated at <%= date %> -->
<h2>💼 项目</h2>

<table>
	<thead align="center">
		<tr>
			<th>项目</th>
			<th>简述</th>
			<th>技术</th>
			<th>成就</th>
		</tr>
	</thead>

	<tbody align="left">
		<% projects.forEach(function(project){ %>
			<tr>
				<th>
					<a href="<%= project.github %>" target="_blank">
						<%- project.svgRepo + project.repo %>
					</a>
				</th>
				<th>
					<%= project.logo %>
						<%= project.desc %>
				</th>
				<th>
					<% project.techList.forEach(function(tech){ %>
						<img src="<%- tech %>" alt="badge">
						<% }); %>
				</th>
				<th>
					<% project.badges.forEach(function(badge){ %>
						<img src="<%- badge %>" alt="badge">
						<% }); %>
				</th>
			</tr>
			<% }); %>
	</tbody>
</table>

<h2>📦 Packages</h2>

<table>
	<thead align="center">
		<tr>
			<th>项目</th>
			<th>简述</th>
			<th>技术</th>
		</tr>
	</thead>

	<tbody align="left">
		<% packages.forEach(function(package){ %>
			<tr>
				<th>
					<a href="<%= package.github %>" target="_blank">
						<%= package.name %>
					</a>
				</th>
				<th>

					<%= package.logo %>
						<%= package.desc %>
				</th>
				<th>
					<% package.techList.forEach(function(tech){ %>
						<img src="<%- tech %>" alt="badge">
						<% }); %>
				</th>
			</tr>
			<% }); %>
	</tbody>
</table>